@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.footer {
  color: #585379;
  font-family: Lato;
}

.container {
  font-family: Lato;
}


.title {
  color: #585379;
  font-weight: bold;
  font-family: Lato;
}

.subTitle {
  color: #585379;
  font-family: Lato;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }

  .subTitle {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

}