@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  padding: 0 2rem;
}

.main{
  align-items: center;
}

.textBox {
  min-height: 100vh;
  width: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  color: #585379;
  font-family: Lato;
}

.title,
.description {
  padding-left: 10rem;
  padding-top: 7rem;
}

.description {
  margin: -7rem 0;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
  color:#585379;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
