@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.footer {
  color: #585379;
  font-family: Lato;
}

.container {
  font-family: Lato;
}

.title {
  color: #585379;
  font-weight: bold;
  font-family: Lato;
  font-size:2.6rem;
}

.subTitle {
  color: #585379;
  font-family: Lato;
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.logo{
  display: flex;
  float: right;
  transform: translateY(-30%) translateX(10%);
}

@media screen and (max-width: 840px){
  .title {
    font-size: 2.4rem;
  }
} 

@media screen and (max-width: 690px){
  .title {
    font-size: 2.2rem;
  }
} 

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .subTitle {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .logo{
    transform: translateY(-25%) translateX(20%);
  }
}